# Cấu hình biến môi trường cho bộ Monitoring (Copy thành .env khi chạy trên VPS)
GRAFANA_USER=admin
GRAFANA_PASSWORD=spendwise_secure_password_2026

# Thông tin Telegram Bot cho Alertmanager (BotFather)
TELEGRAM_BOT_TOKEN=8845820165:AAEDELM7PzQI_QrD1essKlV1_KyHwbEuxhM
TELEGRAM_CHAT_ID=7996717591
